<div class="row">
  <div class="columns large-12">
    <svg width="1024" height="724" ng-if="game.situation" ng-controller="MapCtrl">
      <image x="0" y="0" width="1024" height="724" xlink:href="{{game.situation.map.url}}" />
      <infections-marker ng-repeat="city in game.situation.locations" location-name="{{city.name}}" location="city" />
    </svg>
  </div>
</div>
<div class="row">
  <div class="columns large-4">
    <div ng-controller="ChatCtrl">
      <div class="row">
        <div class="large-12 columns">
          <div class="row collapse">
            <div class="columns">
              <ul class="no-bullet">
                <li ng-repeat="user in users | orderBy:'name'" data-tooltip title="ID:{{user.id}}" class="has-tip label {{user.type}}" style="margin-right: 2px;">
                    {{user.name}}
                </li>
              </ul>
            </div>
          </div>
          <div class="row" id="message-log">
            <div class="columns">
              <ul class="no-bullet">
                <li ng-repeat="message in log | reverse">
                  <span ng-if="message.type == 'chat'">
                    <span class="label secondary">
                      {{message.data.date | date:'HH:mm:ss'}}
                    </span>
                    <span data-tooltip title="ID:{{message.data.from.id}}" class="has-tip label {{message.data.from.type}}">
                      {{message.data.from.name}}
                    </span>
                    <span>{{message.data.text}}</span>
                  </span>
                  <span ng-if="message.type == 'event'">
                    <span class="label system">{{message.data.event_type}}</span>
                  </span>
                </li>
              </ul>
            </div>
          </div>
            <div class="row collapse">
              <div class="columns">
                <input type="text" ng-model="text" placeholder="Chat message..."></input>
              </div>
              <div class="columns">
                <button class="button postfix"
                  ng-click="post(text)"
                  ng-disabled="!user.name || !text">Post</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="columns large-4" ng-controller="ActionsCtrl" ng-if="game.state == 'lobby'">
    <button class="button"
      ng-click="startGame()"
      ng-disabled="user.id != game.owner || users.length < 2 || users.length > 4"
      ng-show="user.id == game.owner">Start game</button>
  </div>
</div>
