<div class="row">
  <div class="columns large-12">
    <svg width="1024" height="724" ng-if="game.situation" ng-controller="MapCtrl">
      <image x="0" y="0" width="1024" height="724" xlink:href="{{game.situation.map.url}}" />
      <circle
        ng-attr-cx="{{game.situation.outbreak_markers[game.situation.outbreak_count].x + game.situation.outbreak_marker_size.width / 2}}"
        ng-attr-cy="{{game.situation.outbreak_markers[game.situation.outbreak_count].y + game.situation.outbreak_marker_size.width / 2}}"
        ng-attr-r="{{game.situation.outbreak_marker_size.width / 2}}"
        fill="red"></circle>
      <circle
        ng-attr-cx="{{game.situation.infection_rate_levels[game.situation.infection_rate_index].x + game.situation.infection_rate_marker_size.width / 2}}"
        ng-attr-cy="{{game.situation.infection_rate_levels[game.situation.infection_rate_index].y + game.situation.infection_rate_marker_size.width / 2}}"
        ng-attr-r="{{game.situation.infection_rate_marker_size.width / 2}}"
        fill="red"></circle>
      <location-marker ng-repeat="city in game.situation.locations" location-name="{{city.name}}" location="city" />
      <g ng-repeat="disease in game.situation.diseases" ng-attr-transform="translate({{disease.x + 4}}, {{disease.y - 16}})">
        <rect width="40" height="20" x="-5" y="-5" fill="white" />
        <rect width="8" height="8" ng-attr-style="fill:{{disease.color}}" />
        <text x="12" y="10">{{disease.cubes}}</text>
      </g>
    </svg>
  </div>
</div>
<div class="row">
  <div class="columns large-4">
    <div ng-controller="ChatCtrl">
      <div class="row">
        <div class="large-12 columns">
          <div class="row collapse">
            <div class="columns">
              <ul class="no-bullet">
                <li ng-repeat="user in users | orderBy:'name'" data-tooltip title="ID:{{user.id}}" class="has-tip label {{user.type}}" style="margin-right: 2px;">
                    {{user.name}}
                </li>
              </ul>
            </div>
          </div>
          <div class="row" id="message-log">
            <div class="columns">
              <ul class="no-bullet">
                <li ng-repeat="message in log | reverse">
                  <span ng-if="message.type == 'chat'">
                    <span class="label secondary">
                      {{message.data.date | date:'HH:mm:ss'}}
                    </span>
                    <span data-tooltip title="ID:{{message.data.from.id}}" class="has-tip label {{message.data.from.type}}">
                      {{message.data.from.name}}
                    </span>
                    <span>{{message.data.text}}</span>
                  </span>
                  <pandemic-event ng-if="message.type == 'event'" event="message.data"/>
                </li>
              </ul>
            </div>
          </div>
            <div class="row collapse">
              <div class="columns">
                <input type="text" ng-model="text" placeholder="Chat message..."></input>
              </div>
              <div class="columns">
                <button class="button postfix"
                  ng-click="post(text)"
                  ng-disabled="!user.name || !text">Post</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="columns large-4" ng-controller="LobbyCtrl" ng-if="game.state == 'lobby'">
    <button class="button"
      ng-click="startGame()"
      ng-disabled="user.id != game.owner || users.length < 2 || users.length > 4"
      ng-show="user.id == game.owner">Start game</button>
  </div>
  <div class="columns large-4" ng-controller="ActionsCtrl" ng-if="game.state != 'lobby'">
    <div ng-show="game.situation.state.name == 'player_actions'">
      <div>{{game.situation.state.actions_remaining}} actions remaining</div>
      <button class="button"
        ng-click="pass()"
        ng-disabled="game.situation.state.name != 'player_actions' || game.situation.state.player != user.id">Pass</button>
    </div>
    <div ng-show="game.situation.state.name == 'draw_player_cards'">
      <div>{{game.situation.state.draws_remaining}} draws remaining</div>
      <button class="button"
        ng-click="drawPlayerCard()"
        ng-disabled="game.situation.state.name != 'draw_player_cards' || game.situation.state.player != user.id">Draw a card</button>
    </div>
    <div ng-show="game.situation.state.name == 'draw_infection_cards'">
      <div>{{game.situation.state.draws_remaining}} draws remaining</div>
      <button class="button"
        ng-click="drawInfectionCard()"
        ng-disabled="game.situation.state.name != 'draw_infection_cards' || game.situation.state.player != user.id">Infect</button>
    </div>
    <div ng-show="game.situation.state.name == 'epidemic'">
      <div>{{game.situation.state.draws_remaining}} draws remaining</div>
      <button class="button"
        ng-click="increaseInfectionIntensity()"
        ng-disabled="game.situation.state.name != 'epidemic'">Increase infection intensity</button>
    </div>
    <pre>{{game.situation.state | json}}</pre>
  </div>
</div>
